.main{
    font-family: 'GmarketSans';
}

/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
    height: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(255, 151, 238), rgb(75, 189, 255)); /* 세로 그라데이션 색상 */
}

::-webkit-scrollbar-track {
    background-color: black;/* track의 배경색 */
}

html, body{
    width: 100%;
    overflow-x: hidden;
}