.detail-projects{
    background-color: black;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'GmarketSans';
    font-weight: 700;
}

/* 작품 소개 */
.detail-projects-title{
    margin-left: 5vw;
    margin-bottom: 10vh;
    font-size: 50px;
    width: 220px;

    background: linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255));
    color: transparent;
    -webkit-background-clip: text;
}

/* 작품 소개 아래 요소들 */
.detail-projects-view{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 작품 화면 왼쪽 버튼들 */
.detail-projects-scroll{
    display: flex;
    flex-direction: column;

    margin-right: 2vw;
}

/*빈 화살표 버튼*/
.empty-arrow-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin-top: 2vh;
    margin-bottom: 2vh;

    background-color: black;
    color: white;
    border: 2px solid white;
}

/*버튼*/
#detail-projects-scroll-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin-top: 2vh;
    margin-bottom: 2vh;

    background-color: black;
    color: white;
    border: 2px solid white;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*활성화된 버튼*/
#detail-projects-scroll-button.active {
    border: 2px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255));
    background-origin: border-box;
    background-clip:content-box, border-box;
}

/*호버 버튼*/
#detail-projects-scroll-button:hover{
    border: 2px solid transparent;
    color: transparent;
    background-image:
            linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255)),
            linear-gradient(black, black),
            linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255));
    background-origin: border-box;
    background-clip:text, content-box, border-box;
}

/*화살표 버튼*/
.arrow-button{
    font-family: 'GmarketSans';
    font-weight: 700;

    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin-top: 2vh;
    margin-bottom: 2vh;

    background-color: black;
    color: white;
    border: 2px solid white;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*화살표 버튼 호버*/
.arrow-button:hover{
    border: 2px solid transparent;
    color: transparent;
    background-image:
            linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255)),
            linear-gradient(black, black),
            linear-gradient(to right, rgb(255, 151, 238), rgb(75, 189, 255));
    background-origin: border-box;
    background-clip:text, content-box, border-box;
}

/* 작품 이 나타나는 화면 */
.detail-projects-iframe{
    width: 65vw;
    height: 65vh;
    border: 2px solid white;
}

@media screen and (max-width:500px) {
    .detail-projects{
        height: 100vh;
    }

    .detail-projects-title{
        font-size: 20px;
    }

    .detail-projects-view{
        flex-direction: column;
    }

    .detail-projects-scroll{
        flex-direction: row;
        margin-right: 0;
    }

    .detail-projects-scroll > div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #detail-projects-scroll-button{
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;

        font-size: 13px;
    }

    .detail-projects-iframe{
        width: 300px;
        height: 200px;
    }
}



